
!ATPJava.zip
!lib.zip

# Java, maven & intellij
*.jar
target
.idea

# Python
*.pyc

# secret stuff
.oci/config
*.pem
.md

# stuff for building the docker container
*.rpm
*.zip
*.tar.gz

SECRETS.md
java/sdk
wallet*